@import "https://fonts.googleapis.com/css?family=Oswald:700";

* {
  font-family: "Oswald", sans-serif;
}

.text {
  font-size: 15px;
  font-weight: bold;
}

.sinopsis {
  margin-bottom: 15px;
}
body {
  background-color: rgb(0 0 0);
}

.policy {
  color: rgb(230, 230, 230);
  background-color: #363636;
  margin-top: 70px;
}

.fa-arrow-right {
  color: #8a8a8a;
  font-size: 12px;
  margin: 6px;
  padding: 6px;
}

.fa-arrow-left {
  color: #8a8a8a;
  font-size: 12px;
  margin: 6px;
  padding: 6px;
}

span {
  margin: 0 7px;
}
.container_comment h1 {
  color: rgb(250 250 245);
}
a {
  text-decoration: none;
  color: rgb(240, 240, 240) !important;
}
.div-noticias {
  justify-content: center !important;
  text-align: center !important;
  align-items: center !important;
}
.contenedor-ul {
  justify-content: flex-end;
}
.paginacion-contenedor {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  margin-top: 1em;
  margin-bottom: 3em;
}
.paginacion-contenedor ul li {
  display: inline-block;
  background-color: rgb(60, 60, 60);
  margin: 0 3px;
  border-radius: 3px;
}
.paginacion-contenedor ul li a {
  padding: 10px;
  font-size: 1.2em;
  color: #000 !important;
}
.paginacion-contenedor ul .anterior,
.siguiente {
  margin: 0 10px;
  font-size: 1.2em;
}
.anterior:hover {
  color: rgba(160, 160, 160, 0.8) !important;
}
.siguiente:hover {
  color: rgba(160, 160, 160, 0.8) !important;
}
.paginacion-contenedor ul li.active {
  background-color: #00f4f8;
  color: rgb(0, 0, 0) !important;
}

.paginacion-contenedor ul li:hover {
  background-color: #00f4f8;
  color: rgb(0, 0, 0) !important;
}

.boton-desktop {
  background-color: rgb(60, 60, 60);
  color: rgb(230, 230, 230);
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}

@media screen and (min-width: 995px) and (max-width: 2560px) {
  .menu-drop {
    margin-top: 15px !important;
    background-color: rgb(60, 60, 60);
    padding: 12px !important;
    transition: all 0.2s !important;
  }

  .container-fluid {
    width: 1500px;
  }
  .btn-mobile {
    display: none !important;
  }

  .navbar-item-menu-drop {
    color: rgb(230, 230, 230) !important;
    margin: auto 10px;
    background-color: transparent;
    width: 120px !important;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 40px !important;
    border-radius: 7px;
  }

  .input-mobile {
    display: none !important;
  }
  .item-nav a {
    margin: -5px;
    justify-content: center;
    text-align: center;
  }
  .item-nav {
    margin: 0;
  }
  .noticia-card {
    width: 450px !important;
    display: flex;
  }
  .perfil-container-mobile {
    display: none !important;
  }
  .first-item_desktop {
    margin-left: 15px;
  }
  .spinner-mobile {
    display: none;
  }
  .titulo-noticia {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(230, 230, 230);
  }
}
@media screen and (min-width: 999px) and (max-width: 1230px) {
  #navbarText {
    width: 900px;
  }
  .contenedor-ul {
    justify-content: start;
  }
  #navbarText ul {
    width: calc(800px - 20px);
    font-size: 15px;
    left: 0;
  }
}
@media screen and (min-width: 990px) and (max-width: 999px) {
  input {
    display: none !important;
  }
  .navbar-burger.burger {
    display: none !important;
  }
  .item-nav a {
    border-bottom: 0;
  }
  .titlo-otros_animes {
    border-bottom: none;
  }
  .fa-search {
    display: none !important;
  }
}
@media screen and (min-width: 1px) and (max-width: 999px) {
  .img-otros-animes {
    width: calc(23.3333% - 0.1em);
    height: auto;
  }
  .navbar-item-menu-drop {
    display: none !important;
  }
  .spinner-mobile {
    display: block;
  }
  .fa-search {
    left: 280px;
    cursor: pointer;
    top: 20px;
    position: absolute;
  }

  .perfil-container {
    background-color: transparent !important;
    border-bottom: 2px solid rgb(100, 100, 100);
  }
  .image_2 {
    width: 100%;
  }
  .noticia-card {
    width: 400px !important;
  }
  .perfil-container-mobile {
    display: block !important;
  }
  .filtrador {
    margin-top: 200px !important;
  }
  .paginacion-contenedor {
    font-size: 13px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .titulo-noticia {
    justify-content: start;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    width: 399px;
  }
}

.contenedor-opciones {
  display: block !important;
}

.item-nav a {
  color: rgb(240, 240, 240) !important;
  cursor: pointer;
  padding: 12px 20px;
  display: block;
}
.item-nav a:hover {
  background-color: rgba(150, 150, 150, 0.3) !important;
}

.items-animes {
  margin-top: 4em;
}

.items-animes article {
  margin: 10px;
  display: inline-block;
}
.title h3 a {
  color: rgb(240, 240, 240);
  font-size: 0.7em;
}

.has-text-orange {
  color: rgb(230, 230, 230) !important;
}

.button.is-orange {
  background-color: #363636 !important;
  color: #fff !important;
}

.spinner-container {
  margin-left: 10px;
}
.perfil-container-mobile {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  border-bottom: 2px solid rgb(100, 100, 100);
}
.perfil-container {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  border-bottom: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}
.perfil {
  cursor: pointer;
}

.nickname {
  margin-left: 6px;
  color: rgb(230, 230, 230);
  padding: 7px;
}

.button.is-orange.is-outlined {
  background-color: transparent !important;
  border-color: #00f4f8;
  color: #ffff !important;
  margin-top: 10px;
}

.tag:not(body).is-orange {
  background-color: #27cf05;
  color: #fff;
}

.input.is-orange,
.textarea.is-orange {
  border: 1px solid #333 !important;
}

input::-webkit-input-placeholder {
  color: #f1f1f1 !important;
}

input:-ms-input-placeholder {
  color: #f1f1f1 !important;
}

input::placeholder {
  color: #f1f1f1 !important;
}

.contenedor-input {
  justify-content: end;
}

input {
  background-color: #111114 !important;
  color: #fff !important;
  outline: none !important;
  border-color: #f1f1f1;
  width: 300px !important;
  border-radius: 10px;
}

.fa-search {
  right: 30px;
  cursor: pointer;
  top: 20px;
  position: absolute;
}

.pagination-link.is-current {
  background-color: #0e25bd !important;
  border-color: #0e25bd;
  color: #fff;
}

.list-series {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 1em;
  margin-bottom: 5em;
  justify-content: center;
  padding: 10px;
}

.list-series img {
  display: block;
}

.list-series > .serie-card {
  width: calc(50% - 10px);
  margin: 5px;
}

@media screen and (min-width: 640px) {
  .list-series {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    justify-content: center;
    padding: 10px;
  }

  .list-series img {
    display: block;
  }

  .list-series > .serie-card,
  .noticia-card {
    width: calc(25% - 5px);
    margin: 1px;
  }
}

@media screen and (min-width: 1024px) {
  .list-series {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    justify-content: center;
    padding: 10px;
  }

  .list-series img {
    display: block;
  }

  .list-series > .serie-card,
  .noticia-card {
    width: calc(19.99997% - 10px);
    margin: 5px;
  }
}

.serie-card {
  position: relative;
}

.serie-card .image {
  padding-top: 143.33333333333334%;
}
.image {
  border: 3px solid #111114;
  border-radius: 10px;
}
.image img {
  border-radius: 10px;
}

.serie-card .image img {
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.serie-card .tag.year {
  position: absolute;
  left: 0;
  bottom: 2rem;
  border-radius: 0 0.2rem 0 0.2rem;
  background: #000;
}

.serie-card .tag.airing {
  position: absolute;
  right: 0;
  top: 5px;
  background-color: #00a43b !important;
  color: #fff !important;
  border-radius: 0.2rem 0 0.2rem 0;
}

.serie-card .tag.type {
  position: absolute;
  right: 5px;
  bottom: 2rem;
}
.navbar {
  background-color: rgb(20, 20, 20) !important;
}
.navbar-burger.burger {
  background-color: rgb(20, 20, 20) !important;
}
.serie-card .title {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.serie-card .title h3 a {
  display: block;
  background-color: rgba(0, 0, 0, 0.8) !important;
  margin: 6px;
  border-radius: 0.2rem;
  line-height: 150%;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.serie-card .overlay-dark {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 120%;
  border-radius: 0.2rem 0.2rem 0 0;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.page-home__slider-container {
  padding-bottom: 0;
}

.page-home__latest-chapters {
  padding-top: 0;
  padding-bottom: 1rem;
}

.page-home__latest-series {
  padding-top: 0;
  padding-bottom: 10rem;
}

body,
button,
input,
select,
textarea {
  font-family: oswald, -apple-system, segoe ui, Roboto, Oxygen, Ubuntu,
    Cantarell, fira sans, droid sans, helvetica neue, Helvetica, Arial,
    sans-serif;
}

.is-family-primary {
  font-family: oswald, -apple-system, segoe ui, Roboto, Oxygen, Ubuntu,
    Cantarell, fira sans, droid sans, helvetica neue, Helvetica, Arial,
    sans-serif !important;
}

.is-family-secondary {
  font-family: oswald, -apple-system, segoe ui, Roboto, Oxygen, Ubuntu,
    Cantarell, fira sans, droid sans, helvetica neue, Helvetica, Arial,
    sans-serif !important;
}

.is-family-sans-serif {
  font-family: oswald, -apple-system, segoe ui, Roboto, Oxygen, Ubuntu,
    Cantarell, fira sans, droid sans, helvetica neue, Helvetica, Arial,
    sans-serif !important;
}

@media screen and (max-width: 479px) {
  .capitulos-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .capitulos-grid > .item {
    width: calc(50% - 0.1em);
    margin: 0.05em;
  }
}

@media screen and (min-width: 480px) {
  .capitulos-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .capitulos-grid > .item {
    width: calc(33.3333333333% - 0.1em);
    margin: 0.05em;
  }
  .overlay-dark {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .capitulos-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .capitulos-grid > .item {
    width: calc(25% - 0.1em);
    margin: 0.05em;
  }
}

.item {
  cursor: pointer;
  margin: 10px;
  width: 267px;
  height: auto;
  position: relative;
  left: 0px;
  display: inline-block;
  padding: 10px;
  transition: all 0.5s;
}

.overarchingdiv {
  height: 160px;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 0.3rem;
  transition: all 0.2s;
}

.serie-card:hover .overlay-dark {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1 !important;
  z-index: 99;
}

.hoveroverlay {
  transition: 0.1s;
  border-radius: 50%;
  width: auto;
  left: 50%;
  margin-left: -28px;
  top: 50%;
  margin-top: -30px;
  position: absolute;
  z-index: 100;
}
.fa-play {
  color: #00f4f8 !important;
}
.fa-play:hover {
  color: rgb(255, 10, 0) !important;
}
.serie-card:hover .fa-play {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.pgnav {
  transition: 0.1s;
  cursor: pointer;
  font-size: 50px !important;
  margin: 10px;
  display: inline-block !important;
  padding: 6px 8px;
}

.section {
  padding: 1rem 0.5rem;
  position: relative;
}

.anime-page__next-episode {
  display: inline-block;
  padding: 0.8rem 1rem;
  background-color: #363636;
  vertical-align: middle;
  margin-bottom: 1rem;
}

.anime-page__episode-list {
  max-height: 400px;
  overflow-x: auto;
  margin-bottom: 2.5rem;
}

.anime-page__episode-list > li {
  border-bottom: 1px solid #eceff1;
  border-color: rgba(68, 61, 104, 0.5);
}

.anime-page__episode-list > li > a:before {
  font-family: "Font Awesome 5 Free";
  margin-right: 0.7rem;
}

.anime-page__episode-list > li > a {
  display: block;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 0.25rem;
}

.has-border-bottom {
  border-bottom: 2px solid rgba(158, 158, 158, 0.12);
  margin-bottom: 0.5rem;
}

.episode-banner-top div {
  margin: 0 auto !important;
}

.episode-banner-top-2 div {
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
}

.viewed {
  color: seagreen !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00f4f8;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(20, 20, 20);
}
.anime-page__episode-list > li > a {
  width: 100%;
}

.anime-page__episode-list > li > a:hover {
  background-color: rgb(100, 100, 100) !important;
  color: #fff !important;
}

.episode-page__servers-list {
  background: transparent !important;
}

.episode-page__servers.is-toggle a {
  background: #111111;
  color: #fff;
  border: none;
}
.episode-page__servers.is-toggle li.is-active a {
  background-color: rgb(100, 100, 100) !important;
  border-radius: 0;
}
.episode-page__servers.is-toggle a:hover {
  background-color: rgb(100, 100, 100) !important;
}

.social-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  margin-bottom: 1rem;
}

.wrap {
  background-color: #2f2f2f;
  border-radius: 6px;
  padding: 0.2rem;
  color: #8a8a8a;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.wrap:hover {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25), 0 6px 7px rgba(0, 0, 0, 0.22);
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
.iframe-container iframe {
  width: 100%;
  height: 100%;
}

.episode-page__anime-cover {
  margin-bottom: 0.5rem;
}

.episode-banner-top div {
  margin: 0 auto !important;
}

.episode-banner-top-2 div {
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
}

.button {
  transform: none !important;
}

.cont-opciones {
  display: flex;
  margin-bottom: 45px;
}

.pag-text {
  padding: 15px;
  border-bottom: 2px rgb(100, 100, 100) solid;
}

.cont-anterior {
  display: flex;
}

.cont-anterior a {
  font-size: 0.9rem !important;
}

.cont-capitulos a {
  font-size: 0.9rem !important;
  display: flex;
  justify-content: center;
}

.cont-siguiente {
  display: flex;
}

.cont-siguiente a {
  font-size: 0.9rem !important;
}

.primer-capitulo {
  display: none !important;
}

.ultimo-cap {
  display: none !important;
}

.li {
  display: none;
}

.image_2 {
  border: 2px solid #00f4f8;
}

.sec {
  display: none;
}

.filtrador {
  padding-left: 20px;
  margin-top: 6em;
  border-bottom: 2px rgb(100, 100, 100) solid;
  padding-bottom: 20px;
}

.filtrador h1 {
  color: rgb(240, 240, 240);
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.filter-item {
  margin: 0 2px;
  border-radius: 0% !important;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.22) !important;
}

.dropdown-item.active {
  background-color: rgba(0, 0, 0, 0.22) !important;
}

.contenedor-dropdown li {
  display: inline-block;
  width: 120px;
}

.contenedor-dropdown {
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
  height: max-content;
  padding-left: 50px;
  text-align: start;
  position: absolute;
  z-index: 9999 !important;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
  .contenedor-dropdown {
    width: 250px;
    height: max-content;
    padding-left: 0px;
    text-align: start;
  }
}

.contenedor-años li {
  display: inline-block;
}

.contenedor-años {
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: max-content;
  padding-left: 12px;
  z-index: 9999 !important;
}
.dropdown {
  z-index: 9999 !important;
}
.dropdown-toggle {
  z-index: 1 !important;
}

.fa-filter {
  margin-left: 4px;
}

.disable {
  display: none !important;
}

.contenedor-generos a {
  border: 2px solid #00f4f8 !important;
}
.Icono-list {
  color: #00f4f8 !important;
  margin-right: 5px;
}

#navbarText {
  transition: 200ms;
}
@media screen and (min-width: 1000px) and (max-width: 2560px) {
  .navbar-burger.burger {
    display: none;
  }
  .mobile {
    display: none !important;
  }
}

@media screen and (min-width: 1px) and (max-width: 999px) {
  .nav-link {
    border-bottom: 1px solid rgb(100, 100, 100);
  }
  #last-link {
    border-bottom: none !important;
  }
}

.logo {
  color: #00f4f8 !important;
  margin-bottom: -10px !important;
}

.letraA {
  color: #00f4f8;
  font-size: 35px;
  font-style: oblique;
}

.letraN {
  font-size: 30px;
}

.letraI {
  font-size: 30px;
}

.letraM {
  font-size: 30px;
}

.letraE {
  font-size: 30px;
}

.letraK {
  font-size: 30px;
}

.letraU {
  font-size: 30px;
}

.logo-cont:hover {
  color: #00f4f8 !important;
}

.logo-cont {
  font-style: italic;
}

.noticia-card {
  width: 300px;
  display: inline-block;
  margin-top: 2em;
}

.noticia-card:hover figure a img {
  opacity: 0.8;
}

.noticia {
  justify-content: center !important;
  text-align: center !important;
  align-items: center !important;
}

.titulo-noticia {
  justify-content: start;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.overlay-dark {
  display: block !important;
}

.overarchingdiv2 {
  height: 160px;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 0.3rem;
  transition: all 0.2s;
}
.overarchingdiv2:hover {
  height: 160px;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 0.3rem;
  transition: all 0.2s;
}
.overarchingdiv2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s;
}
.overarchingdiv2:hover img {
  transition: all 0.2s;
}

.overarchingdiv2:hover .hoveroverlay {
  opacity: 100;
}

.overarchingdiv2:hover .seriesoverlay {
  opacity: 0;
}

.hoveroverlay {
  transform: none;
  opacity: 0;
  width: auto;
  position: absolute;
}

.pgnav {
  transition: 0.3s;
  cursor: pointer;
  font-size: 20px !important;
  margin: 10px;
  color: #fff;
  display: inline-block !important;
  padding: 6px 8px;
}

.span-search {
  color: rgb(230, 230, 230);
  width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dataResult {
  border-radius: 0 0 10px 10px;
  margin-top: 0px;
  margin-left: 15px;
  width: 320px;
  max-height: 300px !important;
  background-color: rgb(20, 20, 20);
  overflow: hidden;
  z-index: 99999 !important;
}

.dataResult::-webkit-scrollbar {
  display: none;
}
.dataResult {
  position: absolute;
  height: auto;
  max-height: min-content;
  overflow: hidden;
  z-index: 10 !important;
}
.icono-search {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  border-radius: 5px;
}
.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.dataResult .dataItem:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.contenedor-ul ul input {
  justify-content: end !important;
}
.section-perfil {
  justify-content: center !important;
  text-align: center !important;
  align-items: center !important;
  display: flex !important;
  margin-top: 4em !important;
}

.contenedor-informacion {
  margin-top: 4em !important;
  justify-content: center !important;
  text-align: center !important;
  align-items: center !important;
  margin-top: 3em !important;
}

.spinner-grow {
  width: 3rem;
  height: 3rem;
}

.imagen-perfil {
  width: 80px;
  height: 80px;
}

.imagen-pagina {
  border-radius: 15px;
}

#disqus_thread {
  margin-top: 100px !important;
}

@media screen and (min-width: 1020px) and (max-width: 2560px) {
  .contenedor-botones {
    display: none;
  }
  .perfil-container:hover .contenedor-botones {
    display: block;
  }
  .margin-nav {
    margin-left: 15px !important;
  }
}

.Title-NoFound {
  color: rgb(230, 230, 230);
  font-size: 60px;
  margin: 150px auto;
}
.contenedor-NoFound {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.item {
  cursor: pointer;
  margin: 10px;
  width: 367px;
  height: auto;
  position: relative;
  left: 0px;
  display: inline-block;
  padding: 10px;
  transition: all 0.5s;
}
.otros-animes-sub-div {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.img-otros-animes {
  width: 100%;
  height: auto;
  border-radius: 7px;
}
.otros-animes {
  margin-top: 1rem;
  display: block !important;
}

.div-grid {
  display: grid !important;
  place-items: center !important;
}

.title-otros {
  font-size: initial;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
  display: block;
  margin: 15px 0px 20px 0px;
  color: rgb(230, 230, 230);
}

.contenedor-otros {
  margin-top: 60px;
}

.titlo-otros_animes {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 3px;
}

#slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}

.slide {
  width: 100%;

  display: none;
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  padding: 15px 10px;
  border-radius: 5px;
}

.controls:hover {
  background: white;
  transition: 0.3s;
}

.controls:active {
  color: grey;
}

#left-arrow {
  display: none;
}

#right-arrow {
  display: none;
}

#dots-con {
  text-align: center;
}
.dot {
  display: inline-block;
  background: grey;
  padding: 8px;
  border-radius: 50%;
  margin: 10px 5px;
}

@media (max-width: 576px) {
  #slider {
    width: 100%;
  }

  .controls {
    font-size: 1em;
  }

  #dots-con {
    display: none;
  }
}

.slick-prev {
  display: block !important;
}
.slick-next {
  display: block !important;
}
